<!DOCTYPE HTML>  
<html>  
	<head>  
		<title>DBHS | Business Hours</title>  
		<meta charset="utf-8" />  
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />  
		<link rel="stylesheet" href="static/css/main.css" />  
		<noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>  
	</head>  
	<body class="is-preload">  
  
		<div id="wrapper">  
			<header id="header" class="alt">  
				<a href="index.html" class="logo"><strong>DBHS</strong> <span>Reuse. Recycle. Remarkable!</span></a>  
				<nav>  
					<a href="#menu">Menu</a>  
				</nav>  
			</header>  
  
			<section id="banner" class="major">  
				<div class="inner">  
					<header class="major">  
						<h1 class="sign-status">Loading..</h1>  
					</header>  
					<div class="content">  
						<p class="sign-subscript">Loading...</p>  
					</div>
                    <button class="button small" id="fullscreenBtn">Go Fullscreen</button>
				</div>  
			</section>  
		</div>  
  
		<script src="static/js/jquery.min.js"></script>  
		<script src="static/js/jquery.scrolly.min.js"></script>  
		<script src="static/js/jquery.scrollex.min.js"></script>  
		<script src="static/js/browser.min.js"></script>  
		<script src="static/js/breakpoints.min.js"></script>  
		<script src="static/js/util.js"></script>  
		<script src="static/js/main.js"></script>  
        <script>  
            var signId = "{{ sign_id }}";  
        </script>
        <script src="static/js/live_sign.js"></script>

        
  
	</body>  
</html>  
